#!/usr/bin/env ruby

compile '/index.rhtml' do
  filter :erb
  layout '/home.*'
  layout '/default.*'
  filter :relativize_paths, type: :html
  write '/index.html'
end

compile '/**/*.md' do
  filter :kramdown, input: 'GFM'
  layout '/post.*'
  layout '/default.*', locals: { body_class: 'post' }
  filter :relativize_paths, type: :html
  write item.identifier.without_ext + '/index.html'
end

compile '/stylesheet.css' do
  hash = Digest::SHA1.hexdigest(item.raw_content)[0..8]
  write item.identifier.without_ext + '-' + hash + '.css'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
