* {
  margin: 0;
  padding: 0;

  line-height: 20px;

  box-sizing: border-box;
}

body {
  background: #fff;

  padding: 40px 20px;

  font-family: Signika, Helvetica, Arial, sans-serif;
  font-weight: lighter;

  margin: 0 auto;
  max-width: 800px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #1ae;
}

a:hover {
  color: #000;
}

.meta {
  border-top: 2px solid #1ae;

  font-size: 15px;

  margin: 0;
  padding: 9px 20px 0 0;

  float: left;
  width: 210px;
}

body.post .meta {
  margin: 0;
  padding: 9px 20px 0 0;

  float: left;
  width: 170px;
}

.meta.h2 {
  margin-top: 20px;
}

.meta-date {
  letter-spacing: 1px;

  font-size: 14px;
  text-transform: uppercase;
}

.nav {
  float: left;

  text-transform: uppercase;
  letter-spacing: 1px;

  width: 170px;
  margin-top: 5px;
}

.nav a {
  display: block;
  padding: 5px;
}

.content {
  margin-left: 210px;
}

h1, h2 {
  font-family: Signika, sans-serif;
  font-weight: bold;
}

h2 a {
  display: block;

  padding: 10px;

  color: #fff;
}

h2 a:link,
h2 a:visited,
.nav a:link,
.nav a:visited {
  background: #1ae;
  color: #fff;
}

h2 a:hover,
.nav a:hover {
  background: #000;
}

h1 {
  font-size: 60px;
  line-height: 60px;

  margin: 0 0 40px 210px;
}

body.post h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
}

h2 {
  font-size: 28px;
  line-height: 40px;

  margin: 40px 0 20px 0;
}

p {
  font-size: 15px;
  margin: 20px 0 20px 0;
}

p.intro {
  margin-top: 40px;
}

ul, ol {
  margin: 20px 0 20px 20px;
}

pre {
  margin: 20px 0 20px 0;
  padding: 10px;

  border: 1px solid #000;

  white-space: pre-wrap;
}

code {
  font-family: Fira Mono, Menlo, Monaco, Courier, monospace;
  font-size: 14px;
}

.blink-1 {
  animation: blink_underline 1s infinite;
}

.blink-2 {
  animation: blink2 0.6s infinite;
}

.blink-3 {
  animation: blink3 0.6s infinite;
}

@keyframes blink_underline {
  50% { text-decoration: underline; }
}

@keyframes blink2 {
  0%   { visibility: hidden;  }
  33%  { visibility: hidden;  }
  66%  { visibility: visible; }
  100% { visibility: visible; }
}

@keyframes blink3 {
  0%   { visibility: hidden;  }
  33%  { visibility: hidden;  }
  66%  { visibility: hidden;  }
  100% { visibility: visible; }
}
