* {
  margin: 0;
  padding: 0;

  line-height: 20px;

  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: #fff;

  padding: 40px;

  max-width: 700px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #000;
}

.meta {
  margin: 20px 0 40px 0;
}

.meta .nav {
  margin: 40px 0;
}

.meta-date {
  margin: 20px 0;

  font-size: 14px;
  font-style: italic;
}

h1 {
  font-size: 40px;
  line-height: 40px;

  margin: 0;
  padding-top: 15px;

  border-top: 10px solid #000;
}

h2 {
  font-size: 20px;

  margin: 60px 0 0 0;
}

p {
  font-size: 15px;
  margin: 20px 0 20px 0;
}

p.intro {
  margin-top: 40px;
}

ul, ol {
  margin: 20px 0 20px 20px;
}

pre {
  margin: 20px 0 20px 0;
  padding: 10px;

  border: 1px solid #000;

  white-space: pre-wrap;
}

pre code {
  font-family: Menlo, Monaco, Courier, monospace;
}
